body {
    background-color: #573824;
    background-image:url(imagens/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "alice", serif;
}

main{
    display: block;
    margin: 50px 400px 30px;
    background-color: #F0E8C2;
    width: 780px;
    padding: 24px 0px 24px 24px;
    border-radius: 24px;
    line-height: 1.5;
    color: #573A37;
}

img{
    width: 752px;
    height: 400px;
}

.main-texto{
    margin-right: 20px;
    padding: 0px 24px;
    font-size: 16px;

}
h1{
    font-size: 40px;
    color:#291B1A;
    font-weight: 100;
    margin-bottom: 0px;
}

h2{
    font-size: 24px;
    color:#291B1A;
    font-weight: 100;
    margin-bottom: 0px;
}

p{
    margin-top: 0px;
}

ul{
   margin-top: 0px; 
}

footer{
    text-align: center;
    color: #F0E8C2;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-left: 80px;
}